@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  font-family: 'Quicksand';
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.upper-nav {
  background-color: #F3FAFf;
  display: flex;
  min-height: 7vh;
  height: 5.2vw;
  padding-top: 1.5vw;
}

.logo {
  display: flex;
  float: left;
  margin: 0 2vw 2vw 4vw;
}

.logo-img {
  height: calc(20px + 1.1vw);
}

.logo-text {
  margin-left: 0.7vw;
  font-size: calc(5px + 1.4vw);
}

#upper-nav-logo-text {
  padding-left: 1vw;
  padding-top: 0.5vw;
}

.search {
  display: inline-flex;
  float: left;
  margin: 0 2vw;
  background-color: #f8f8f8;
  border-radius: 20px;
  border: 1px solid #DDD;
  height: 30px;
  width: 50%;
}

.search:focus {
  outline: none;
}

.search-input {
  border: none;
  background-color: transparent;
  margin: 0 1vw;
  width: 93%;
}

.download-btn {
  display: inline-flex;
  float: left;
  height: 4vh;
  font-size: calc(5px + 0.7vw);
  background-color: #3b98ff;
  color: #ffffff;
  font-family: 'Quicksand';
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
}

.dropdown-toggle {
  margin-left: calc(3vw - 15px);
  float: right;
  border: none;
  background-color: transparent;
}

.profile-img {
  width: calc(20px + 1.1vw);
  border-radius: 300px;
}

.container-fluid {
  position: relative;
  z-index: 50;
  margin-top: 8vh;
  padding-left: 3vw;
}

#body-container {
  padding-left: 7vw;
  padding-right: 5vw;
}

.card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.068);
  margin-bottom: 2vw;
}

.card-header {
  background-color: #F3FAFf;
  text-align: center;
}

.card-footer {
  background-color: #F3FAFf;
}

.candlestick-chart-div {
  height: 65vh;
}

#candlestick-chart {
  width: 100%;
  height: 100%;
}

.side-nav {
  /* Changing the transition duration, then look into the js file for text addition */
  transition-duration: 0.5s; 
  height: 100%;
  padding-top: 2vw;
  padding-right: 0.5vw;
  padding-left: 1vw;
  position: fixed;
  background-color: #F3FAFf;
  z-index: 100;
  margin-top: 0;
  width: 5vw;
  border-right: 2px solid #7acdf0;
}

.side-nav:hover {
  transform: translateX(0);
  width: 18vw;
}

.side-nav-logo {
  display: block;
  margin: 0 2vw 15vh 0;
}

#side-nav-logo-text {
  display: none;
}

.side-nav-img {
  width: calc(10px + 1.7vw);
}

.side-nav-text {
  padding-left: 1.5vw;
  font-size: 1.2vw;
  display: none;
}

.nav-item {
  margin-bottom: 5vh;
  border-radius: 50px;
}

.nav-item-active {
  color: #3b98ff;
  font-size: 1.2vw;
}

.nav-link {
  text-align: center;
  font-weight: 500;
}

.nav-z-part {
  background: #FFFFFF;
  box-shadow: 0px 0px 7px rgba(79, 172, 255, 0.3);
  border-radius: 28px;
  padding: 10px 12px;
}

.bubble-chart-div {
  height: 55vh;
}

#bubble-chart {
  width: 100%;
  height: 100%;
}

.order-buttons {
  display: flex;
  justify-content: space-around;
}

#reset-checklist {
  float: right;
}

.order-button {
  width: 5vw;
}

.header-buttons {
  font-size: 0.7rem;
  border-radius: 500px;
  padding: 2px 8px;
}

.checklist-item {
  display: none;
  margin-top: 5px;
}

.checklist-input {
  border: 1px solid #3b98ff;
  border-radius: 15px;
  padding: 1px 8px;
  width: 100%;
}

.checklist-input:focus {
  outline: none;
}

.checklist-p {
  display: none;
}

.checklist-buttons {
  font-size: 0.8rem;
  padding: 2px 10px;
}

.edit-checklist {
  display: none;
}

/* .hover-buttons {
  display: none;
} */