@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  animation: fadein 2.5s;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Quicksand";
  overflow: hidden;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 1fr);
}

.login .logo {
  grid-column: 2/4;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5vw;
}

.logo span{
 width: 2vw;
}

.logo span{
 font-size: 1.5vw;
}

.login .login-image {
  grid-column: 2/4;
  grid-row: 2/4;
  margin: 18vh auto auto auto;
  width: 35vw;
}

.login .login-bg {
  grid-column: 7/13;
  grid-row: 1/15;
}

.login .content {
  grid-column: 7/13;
  grid-row: 2/14;
  margin: 3.5vh auto auto 5vw;
}

.login h1{
 margin: 0;
 color: #ffffff;
 font-size: 2.3vw;
}

.login h2{
 margin: 2vh 0 4vh 0;
 color: #ffffff;
 font-size: 1.5vw;
 font-weight: 300;
 width: 25vw;
}

button{
 border: none;
 padding: 10px 0px;
 font-size: 1.2vw;
 margin-right: 2vw;
 color: #ffffff;
 font-family: 'Quicksand';
 background-color: rgba(0, 0, 0, 0);
 margin-bottom: 4vh;
 outline: none;
}

.sign-btn{
 border-bottom: 3px solid #ffffff;
 font-weight: 800;
}

.form-input{
 border: none;
 padding: 10px 0px;
 font-size: 1.2vw;
 margin-right: 2vw;
 color: #ffffff;
 font-family: 'Quicksand';
 background-color: rgba(0, 0, 0, 0);
 margin-bottom: 4vh;
 border-bottom: 1px solid #ffffff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 0.7; /* Firefox */
}

.submit-btn{
 margin-top: 3vh;
 padding: 15px 30px;
 border: none;
 border-radius: 30px;
 font-size: 1vw;
 font-family: 'Quicksand';
 color: #3b98ff;
 font-weight: 700;
}

.login-alt > img{
 width: 2.7vw;
}

p{
 color: #ffffff;
 font-size: 1.2vw;
 margin-top: 6vh;
 margin-bottom: 4vh;
}

.login-alt{
 display: flex;
 width: 10.5vw;
 justify-content: space-between;
}

input{
 outline: none;
}